#colorsContainer {
    margin: 5px 0;
}
#colorsContainer input{
    margin-right: 5px;
}
#imagesContainer {
    padding-top: 10px;
}
.color-container {
    padding-bottom: 5px;
}
.image-container {
    padding-bottom: 5px;
}
.image-preview {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
}
.image-input {
    display: inline-block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}