/.cache/
/dist/
/node_modules/
/package-lock.json
.idea/
*.ZIP
colorpicker.HTML
ColorPickerHTML.html
/design/customSettingsStyles.css
/design/design_main.js
/design/index.html
/runtime/bullsEye_bundle.js